input.form-control {
    margin-bottom: 5px;
}

body {
    -webkit-background-size: cover;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.75),
                    rgba(0, 0, 0, 0.75)
            ),
            url("../../assets/bg.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 60px;
}

.no-pad {
    padding-top: 0;
}

@media (max-width: 768px) {
    .brand-padding {
        padding-top: 15px;
        padding-left: 0;
    }
}

p, h1 {
    color: #FFFFFF;
}

a, label {
    color: #FF1493;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-link {
    color: #FFFFFF;
}
.navbar-text a, .navbar-brand a {
    color: #FFFFFF;
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.3);
}